* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #FFFDF2;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
}

.search-form {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.search-input {
    flex-grow: 1;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 1rem;
}

.search-bottom {
    padding: 12px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: .5s;
}

.search-bottom:hover {
    background-color: #317731;
}

.recipe-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

hr {
    margin: 40px 0 30px 0;
}

.recipe-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.recipe-details {
    margin: 30px 0;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-details h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.recipe-details img {
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.recipe-details h3 {
    font-size: 1.5rem;
    margin-top: 15px;
    color: #555;
}

.recipe-details ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.recipe-details ul li {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #555;
}

.recipe-details p {
    font-size: 1.1rem;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}

.recipe-details a {
    font-size: 1.1rem;
    color: #317731;
    text-decoration: none;
    font-weight: bold;
}

.recipe-details a:hover {
    text-decoration: underline;
}

.paragraphOfTheVideo {
    font-weight: bold;
}